body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 26, 26);
}

p {
  margin: 0;
  padding: 1em 0;
  margin-bottom: 1.5em;
}

body,
button,
input,
select,
textarea {
  font-family: "viga";
  font-size: 18px;
  line-height: 1.5;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.3em;
}

.noaudio {
  color:white
}

.score1 {
  background-color: white
}